sudo: required

language: node_js

services:
  - docker

cache:
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - '6'

before_script:
  - npm prune

script:
  - npm run test

after_success:
  - npm run semantic-release
  - hostname
  - docker build -t devenvtest .

branches:
  except:
    - /^v\d+\.\d+\.\d+$/