sudo: required

language: node_js

services:
  - docker

cache:
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - '6'

before_install:
  - getVersion() {
    PACKAGE_VERSION=`grep -Po '(?<="version". ")[^"]*' package.json`
    if [ "$PACKAGE_VERSION" == "0.0.0-development" ]; then
      echo 'latest'
    else
      echo $PACKAGE_VERSION
    fi
  }

before_script:
  - npm prune

script:
  - npm run test

after_success:
  - npm run semantic-release
  - PACKAGE_VERSION=$(getVersion)
  - docker build -t arsi/devenvtest:$PACKAGE_VERSION .
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push arsi/devenvtest:$PACKAGE_VERSION;
    fi

branches:
  except:
    - /^v\d+\.\d+\.\d+$/