sudo: required

language: node_js

services:
  - docker

cache:
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - '6'

before_script:
  - npm prune

script:
  - npm run test

after_success:
  - npm run semantic-release
  - docker build -t devenvtest .
  - docker run devenvtest /bin/sh -c "./node_modules/mocha/bin/mocha"
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push arsi/devenvtest;
    fi

branches:
  except:
    - /^v\d+\.\d+\.\d+$/